---
import '../../css/styles.css'
import Head from './Head.astro'
const props = Astro.props
---

<!DOCTYPE html>
<html lang="en">

<head>
  <Head {...props}/>
</head>

<body>
  <header class="site-header">
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
          <a href="/basic">Basic</a>
          <a href="/blog">Blog</a>
          <a href="/gallery">Gallery</a>
        </li>
      </ul>
    </nav>
  </header>

  <slot>This is the default message</slot>
</body>

</html>
