---
import {sortPosts} from '../utilities/blog.js'
import Base from '../layouts/Base/Base.astro'
import Article from '../components/Article.astro'
const posts = await Astro.glob('./blog/*.md')
const sorted = sortPosts(posts)

---

<Base title="About">
  <h1>Blog</h1>

  {sorted.map(post => (
    <Article {post} />
  ))}
</Base>
