---
import Base from '../layout/Base/Base.astro'
---

<Base title="Contact">
  <h1>Contact Page</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam placeat fugit dignissimos cumque nihil neque odit, sit et quasi non quia quae earum ea beatae laboriosam adipisci magni commodi illo!</p>
</Base>
