---
import '../css/styles.css'
const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
</head>

<body>
  <header class="site-header">
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
          <a href="/basic">Basic</a>
        </li>
      </ul>
    </nav>
  </header>

  <slot>This is the default message</slot>
</body>

</html>
